.p{
    text-align: center;
    font-weight: 400;
    margin-top: 4rem;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 456px;
    border-radius: 40px;
    margin-top: 4rem;
    border: 1px solid #E4E4E4;
}
.box input {
    border: none;
    outline: blue;
    border-radius: 10px;
    background-color:#F2F2F2 ;
    font-size: 12px;
    width: 80%;
    height: 2.5rem;
    margin-top: 20px;
    padding-right: 10px;
}
.box button {
    border: none;
    font-size: 18px;
    outline: none;
    border-radius: 10px;
    width: 80%;
    height: 2.5rem;
    margin-top: 20px;
    cursor: pointer;
    background-color: #55A3F0;
    color: #fff;
  }
  
  .box button:hover {
    background-color: #077bef;
  }

.box p {
    font-weight: 600;
}
.link {
    text-decoration: none;
    color: #55A3F0;
    margin-top: 10px;
    margin-left: 160px;
}
.link:hover {
    color: #077bef;
}
.alertError{
    position: absolute;
    background-color: rgb(255, 95, 95);
    padding: 1rem 1rem;
    width: 15%;
    text-align: center;
    border-radius: 10px;
    color: #fff;
    top: 5rem;
  }
  .massage{
    color: red;
    font-weight: lighter;
    margin-top: 2.2px;
    margin-bottom: -14px;
    margin-right: -9rem;
    font-size: 12px;
  }
  .FaEye1 {
    position: absolute;
    color: #868686;
    right: 54rem;
    top: 28.5rem;
    cursor: pointer;
  }
  .FaEyeSlash1 {
    position: absolute;
    color: #868686;
    right: 54rem;
    top: 28.5rem;
    cursor: pointer;
  }
  .FaEye1:hover{
    color: #077bef;
  }
  .FaEyeSlash1:hover{
    color: #077bef;
  }