.p {
  margin-right: 80px;
  margin-top: 77px;
}
.head{
  width: 100%;
  display: flex;
  justify-content: left;
}
.btn {
  border: none;
  font-size: 18px;
  transition: color 0.5s, transform 0.2s, background-color 0.2s;
  outline: none;
  border-radius: 10px;
  width: 8rem;
  height: 2.5rem;
  cursor: pointer;
  background-color: #55a3f0;
  color: #fff;
}
.btn:hover {
  background-color: #077bef;
}
.tableWrapper{
  overflow-x: auto;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.table {
  border-collapse: collapse;
  width: 100%;
  min-width: 600px;
  border: 1px solid #e4e4e4;
  margin-top: 12px;
  transition: margin-top 0.3s ease;
  table-layout: fixed; 
  transition: margin-top 0.3s ease;
}
.tableWithButton {
  margin-top: 27px;
}
.thead {
  background-color: #f2f2f2;
}
.th {
  padding: 20px;
  text-align: center;
}
.logout{
  width: 100%;
  display: flex;
  justify-content: left;
  margin-top: -59px;
}

.logoutBtn {
  border: none;
  font-size: 18px;
  transition: color 0.5s, transform 0.2s, background-color 0.2s;
  outline: none;
  border-radius: 10px;
  width: 3.5rem;
  height: 2.5rem;
  cursor: pointer;
  background-color: #55a3f0;
  color: #fff;
}

.logoutBtn:hover {
  background-color: #077bef;
}
.noMoreProduct {
  position: absolute;
  padding: 2rem;
  background-color: #fff;
  margin-top: 0%;
  width: 1234px;
}
.deleteGroup {
  border: none;
  font-size: 18px;
  transition: color 0.5s, transform 0.2s, background-color 0.2s;
  outline: none;
  border-radius: 10px;
  width: 13rem;
  height: 2.5rem;
  margin-bottom: 0rem;
  cursor: pointer;
  background-color: #55a3f0;
  color: #fff;
  opacity: 0;
  transform: translateY(-10px);
  animation: fadeInDown 0.3s ease forwards;
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.alertSuccess {
  position: absolute;
  background-color: rgb(54, 140, 54);
  padding: 1rem .5rem;
  width: 15%;
  text-align: center;
  border-radius: 10px;
  color: #fff;
}
.alertError {
  position: absolute;
  background-color: rgb(255, 95, 95);
  padding: 1rem 1rem;
  width: 15%;
  text-align: center;
  border-radius: 10px;
  color: #fff;
}
