.input {
  width: 75%;
  margin-right: 134px;
  margin-top: 20px;
  height: 40px;
  border: 1px solid #e4e4e4;
  border-radius: 10px;
  outline: none;
  padding-right: 20px;
}

.container {
  display: flex;
  width: 100%;
  justify-content: end;
}

.icon {
  margin-left: 163px;
  margin-top: -36px;
  font-size: 16px;
  cursor: pointer;
  width: 4rem;
  height: 2rem;
  color: black;
}
.icon:hover {
  color: #55a3f0;
  border-radius: 10px;
}
